.section{
    padding-top: 60px;
    padding-bottom: 60px;
}
.section__title{
    color: $main-txt-cl;
    font-weight: $wide-font-weight;
    font-size: 28px;
    line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
     margin-bottom: 30px;
}
.section--no-padding-top{
    padding-top: 0;
    }