/* Features section */
.features {
  padding-top: 60px;
  padding-bottom: 60px;

  margin-left: auto;
  margin-right: auto;

  &__list {
    @include mq(tablet) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    @include mq(mobile-only) {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0px;
      }
    }

    @include mq(tablet-only) {
      width: calc((100% - 30px) / 2);
      margin-right: 30px;
      margin-bottom: 30px;

      &:nth-child(2n) {
        margin-right: 0;
      }

      &:nth-child(n + 3) {
        margin-bottom: 0;
      }
    }

    @include mq(desktop) {
      width: calc((100% - 90px) / 4);
      margin-right: 30px;

      &:last-child {
        @include mq(desktop) {
          margin-right: 0px;
        }
      }
    }
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 120px;
    margin-bottom: 30px;

    background-color: var(--secondary-bg-cl);
    border-radius: 4px;
  }

  &__title {
    margin-bottom: 10px;

    color: var(--secondary-txt-cl);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;

    @include mq(mobile-only) {
      text-align: center;
    }
  }

  &__text {
    color: var(--main-txt-cl);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }

  @include mq(desktop) {
    width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
