html{
    box-sizing: border-box;
}

body{
    font-family: $main-font;
    font-size: 14px;
    letter-spacing:0.03em;
    color:$main-txt-cl ;
    background-color: $main-bg-cl;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
margin: 0;
}

ul {
list-style: none;
margin: 0;
padding: 0;
}

