.benefits{
    display:flex ;
}
// .section.benefits__section{
//     padding-bottom: 0;
// }
.benefits__container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto; 
    padding-left: 15px;
    padding-right: 15px;
    
}
.benefits__item{
    margin-right: 30px;
    max-width: 270px;
}

.benefits__title{
    color: $main-txt-cl;
    font-size: 14px;
font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    text-align:left;
    margin-bottom: 10px;
}

.benefits__text{
    color: $secondary-txt-cl;
    line-height: 1.71;
    text-align: left;
}