.footer{
    background-color: $secondary-bg-cl;
    padding-top: 60px;
    padding-bottom: 60px;

}

.footer__box{
    // display: flex;
    // align-items: baseline;
    // width: 320px;
}
.footer__logo{ 
    color: $accent-cl;
    font-family: $secondary-font;
    font-weight: $wide-font-weight;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
.footer__logo--white{
    color: $main-bg-cl;
}
.footer__navigation{
    @media screen and (max-width:769px) {
        text-align: center;
        margin-bottom: 60px;
    }
   

}