.subscribe{
    // margin-left: 93px;
    @media screen and (max-width:480px) {
        text-align: center;
       
    }
}
.subscribe__title{
   
    font-weight: $wide-font-weight;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #ffffff;
}
.subscribe__form{
    

}
.form__input--text{
    // margin-right: 12px;
    // padding-top: 15px;
    // padding-bottom: 15px;
    // padding-left: 16px;
    width: 450px;
    // margin-right: 15px;
    // margin-left: 15px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.25;

    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;
}
.subscribe__button{
    @media screen and (max-width:480px) {
        margin-top: 20px;
        align-items: center;
    }
    position: relative;
    margin: 0 auto;
    display: inline-flex;
    align-items: center;
    padding:  10px 29px;
    width: 200px;
    height: 50px;
    background: $accent-cl;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    font-weight: $wide-font-weight;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color:$main-bg-cl;
}